<html>
  <head>
    <title>Bonjour, Rails!</title>
  </head>
  <body>
    <h1>Le bonjour de Rails !</h1>
    <p>
      Il est <%= @time %>.
    </p>
    <p>
      Il est temps de dire
      <%= link_to "Au revoir !", :action => "goodbye" %>
    </p>
  </body>
</html>
