<!--
 ! Excerpted from "Ruby on Rails, 2nd Ed."
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.editions-eyrolles.com/Livre/9782212120790/ for more book information.
-->
<%  @page_title = "Administer your Store" -%>

<h1>Depot Store Status</h1>

<p>
  Total orders in system: <%= @total_orders %>
</p>

<p>
  Orders pending shipping: <%= @pending_orders %>
</p>