<!--
 ! Excerpted from "Ruby on Rails, 2nd Ed."
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.editions-eyrolles.com/Livre/9782212120790/ for more book information.
-->
<table>
  <tr><th>Name</th></tr>
  <% for user in @users %>
    <tr><td><%= user.name %></td></tr>
  <% end %>
</table>

<hr>
<%= pagination_links(@user_pages)  %>
<hr>
