<!--
 ! Excerpted from "Ruby on Rails, 2nd Ed."
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.editions-eyrolles.com/Livre/9782212120790/ for more book information.
-->
	<div class="article">
	  <div class="articleheader">
	    <h3><%= article.title %></h3>
	  </div>
	  <div class="articlebody">
	    <%= h(article.body) %>
	  </div>
	</div>
