<!--
 ! Excerpted from "Ruby on Rails, 2nd Ed."
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.editions-eyrolles.com/Livre/9782212120790/ for more book information.
-->
<html>
  <head>
    <title>A plus tard!</title>
  </head>
  <body>
    <h1>Au revoir!</h1>
    <p>
      C'est gentil d'être passé.
    </p>
    <p>
      Dire <%= link_to "Bonjour", :action => "hello" %> à nouveau.
    </p>
  </body>
</html>
