<!--
 ! Excerpted from "Ruby on Rails, 2nd Ed."
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.editions-eyrolles.com/Livre/9782212120790/ for more book information.
-->
Dear <%= @order.name %>

You recently placed an order with our store.

We were wondering if you'd mind taking the time to
visit http://some.survey.site and rate your experience.

Many thanks
