<!--
 ! Excerpted from "Ruby on Rails, 2nd Ed."
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.editions-eyrolles.com/Livre/9782212120790/ for more book information.
-->
<div class="olheader">Orders To Be Shipped</div>

<% form_tag(:action => "ship") do %>

<table cellpadding="5" cellspacing="0">
<%= render(:partial => "order_line", :collection => @pending_orders) %>
</table>

<br />
<input type="submit" value=" SHIP CHECKED ITEMS " />

<% end %>
<br />

